In [31]:
import pandas as pd 
import os

In [38]:
data = pd.read_csv("/home/atharva/Downloads/pred_bert_large_trunc.csv")

In [33]:
#Input Question

sample_input_question = data[['Question','Theme']]
sample_input_question.index += 1 
sample_input_question.index.name ="id"

dict = {'id':'id' ,'Question':'question','Theme': 'theme'}

sample_input_question.rename(columns = dict,inplace = True)

#sample_input_question.to_csv('/home/atharva/Desktop/ML/Q&A InterIIT/pred_bert_trunc/sample_input_question.csv')
sample_input_question.to_csv('/home/atharva/Desktop/ML/Q&A InterIIT/pred_roberta_trunc/sample_input_question.csv')
sample_input_question

/tmp/ipykernel_4956/781606148.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_input_question.rename(columns = dict,inplace = True)

,question,theme
id,,
1,What category of game is Legend of Zelda: Twil...,The_Legend_of_Zelda:_Twilight_Princess
2,When was Twilight Princess launched in North A...,The_Legend_of_Zelda:_Twilight_Princess
3,When could GameCube owners purchase Twilight P...,The_Legend_of_Zelda:_Twilight_Princess
4,What company developed Legend of Zelda: Twilig...,The_Legend_of_Zelda:_Twilight_Princess
5,What year was the Legend of Zelda:Twilight Pri...,The_Legend_of_Zelda:_Twilight_Princess
...,...,...
15690,What has there been a shift toward broadening ...,Anthropology
15691,What setting have anthropologists done more re...,Anthropology
15692,Where has ethnographic research become less co...,Anthropology
15693,Who has norrowed the focus to the daily life o...,Anthropology
15694,What settings is reasearch increasinly moving ...,Anthropology

In [34]:
#Input Paragraph

sample_input_paragraph = data[['Paragraph','Theme']].drop_duplicates().reset_index(drop=True)
sample_input_paragraph.index += 1 
sample_input_paragraph.index.name ="id"

dict = {'id':'id' ,'Paragraph':'paragraph','Theme': 'theme'}

sample_input_paragraph.rename(columns = dict,inplace = True)
  
sample_input_paragraph.to_csv('/home/atharva/Desktop/ML/Q&A InterIIT/pred_roberta_trunc/sample_input_paragraph.csv')

sample_input_paragraph

,paragraph,theme
id,,
1,The Legend of Zelda: Twilight Princess (Japane...,The_Legend_of_Zelda:_Twilight_Princess
2,"The story focuses on series protagonist Link, ...",The_Legend_of_Zelda:_Twilight_Princess
3,"At the time of its release, Twilight Princess ...",The_Legend_of_Zelda:_Twilight_Princess
4,The Legend of Zelda: Twilight Princess is an a...,The_Legend_of_Zelda:_Twilight_Princess
5,The context-sensitive button mechanic allows o...,The_Legend_of_Zelda:_Twilight_Princess
...,...,...
3170,"Anthropologists, along with other social scien...",Anthropology
3171,Biological anthropologists are interested in b...,Anthropology
3172,Along with dividing up their project by theore...,Anthropology
3173,Some authors argue that anthropology originate...,Anthropology
3174,Since the 1980s it has become common for socia...,Anthropology

In [35]:
#Theme Interval

df = data[['Paragraph','Theme']].drop_duplicates().reset_index(drop=True)
Themes = data['Theme'].drop_duplicates().reset_index(drop=True)
Themes = pd.DataFrame(Themes)
start = []
end = []
type(df)
j = 0
for i in df.index:
    if( Themes['Theme'][j] == df['Theme'][i] ):
        start.append(i+1)
        if(j>0):
            end.append(i)
        j += 1
        if(j == len(Themes)):
            break
end.append(len(df))

list_of_tuples = list(zip(Themes['Theme'],start,end))

sample_theme_interval = pd.DataFrame(list_of_tuples, columns=['theme', 'start', 'end']).reset_index(drop = True)
sample_theme_interval.to_csv('/home/atharva/Desktop/ML/Q&A InterIIT/pred_roberta_trunc/sample_theme_interval.csv',index=False)

#sample_theme_interval

In [36]:
#Ground Truth

question_id = list(range(1,len(data)))
actual_ans= data['Answer_text']
paragraph_id = []
for i in range(len(question_id)):
    temp = list()
    temp.append(i+1)
    paragraph_id.append(temp)

list_of_tuples = list(zip(question_id,paragraph_id,actual_ans))

sample_ground_truth = pd.DataFrame(list_of_tuples, columns=['question_id', 'paragraph_id', 'answers']).set_index('question_id')
sample_ground_truth.to_csv('/home/atharva/Desktop/ML/Q&A InterIIT/pred_roberta_trunc/sample_ground_truth.csv')
# for i,j in enumerate(sample_ground_truth['paragraph_id']):
#     temp = list()
#     temp.append(j)
#     sample_ground_truth[i]['paragraph_id'] = temp
sample_ground_truth

            paragraph_id                            answers
question_id
1                    [1]               ['action-adventure']
2                    [2]                  ['November 2006']
3                    [3]                  ['December 2006']
4                    [4]                       ['Nintendo']
5                    [5]                           ['2005']
...                  ...                                ...
15689            [15689]    ['research to a single locale']
15690            [15690]  ['daily life of ordinary people']
15691            [15691]        ['scientific laboratories']
15692            [15692]                                 []
15693            [15693]                                 []

[15693 rows x 2 columns]

In [39]:
#Outut Predicition

question_id = list(range(1,len(data)))
actual_ans= data['Prediction']
ans = []
for i,j in enumerate(actual_ans):
    temp = list()
    temp.append(j)
    ans.append(temp)

list_of_tuples = list(zip(question_id,question_id,ans))

sample_output_predicition = pd.DataFrame(list_of_tuples, columns=['question_id', 'paragraph_id', 'answers']).set_index('question_id')
sample_output_predicition.to_csv('/home/atharva/Desktop/ML/Q&A InterIIT/pred_bert_trunc/sample_output_prediction.csv')
sample_output_predicition
#list_of_tuples

             paragraph_id                                answers
question_id
1                       1                     [action-adventure]
2                       2                        [November 2006]
3                       3                        [December 2006]
4                       4                             [Nintendo]
5                       5                                 [2005]
...                   ...                                    ...
15689               15689                      [a single locale]
15690               15690    [the daily life of ordinary people]
15691               15691              [scientific laboratories]
15692               15692            [the North Atlantic region]
15693               15693  [social and cultural anthropologists]

[15693 rows x 2 columns]